@tailwind base;
@tailwind components;
@tailwind utilities;


.notification_modal {
  overflow: scroll;
  scrollbar-width:none;
}

#talkbubble {
  position: absolute;
  top: 2px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 25px solid;
}